.page {
  height: 100%;
}

.page__wrapper{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.page__header,
.page__content,
.page__footer {
  flex: 0 0 auto;
}

.page__header {
  padding: 16px 0;
}

.page__content {
  display: flex;
  flex-grow: 1;
}

.page__footer {
  margin-top: auto;
  padding: 16px 0;
}

